[Unit]
Description=Periodic curl to server

[Service]
Type=simple
Environment=HEARTBEAT_MINE_SERVER=localhost:9000
ExecStart=/bin/sh -c 'while true; do curl -fsS "http://$HEARTBEAT_MINE_SERVER/ping"; sleep 300; done'
