name: Build and Push Backend

on:
  push:
    branches: [ "master" ]
    paths:
      - "server/backend/**"

jobs:
  build-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./server/backend
          push: true
          tags: ghcr.io/${{ github.repository }}-backend:latest
