name: Build and Push Frontend

on:
  push:
    branches: [ "master" ]
    paths:
      - "server/frontend/**"

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./server/frontend
          push: true
          tags: ghcr.io/${{ github.repository }}-frontend:latest
